<% layout("Layouts/boilerplate") %>  <!--This line is used to include the boilerplate layout file in this file -->
<body>
    <h3>Listings Details</h3>
    <ul>
        <li><%=listing.title%></li>
        <li><%=listing.description%></li>
        <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>
        <br>
        <a href="/Listings/<%= listing._id%>/edit">Edit this listing</a>
        <br><br>
        <form method="POST" action="/Listings/<%= listing._id%>?_method=DELETE">  <!--Method-Override is used here -->
            <button>Delete this listing</button>
        </form>
    </ul>
</body>