<% layout("Layouts/boilerplate") %>  <!--This line is used to include the boilerplate layout file in this file -->
<div class="row mt-3">
    <div class="row-8 offset-2">
        <h3>Listings Details</h3>
    </div>
        <div class="card col-6 offset-2">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_img">
        <div class="card-body">
            <p class="card-text"><%=listing.title%></p>
        </div>
        </div>
        <ul>
        <li><%=listing.title%></li>
        <li><%=listing.description%></li>
        <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>
        <br>
        <a href="/Listings/<%= listing._id%>/edit">Edit this listing</a>
        <br><br>
        <form method="POST" action="/Listings/<%= listing._id%>?_method=DELETE">  <!--Method-Override is used here -->
            <button>Delete this listing</button>
        </form>
        </ul>
      
</div>