<% layout("Layouts/boilerplate") %>  <!--This line is used to include the boilerplate layout file in this file -->
<div class="row mt-3">
    <div class="row-8 offset-2">
        <h3><%=listing.title%></h3>
    </div>
        <div class="card col-6 offset-2 show-card btns listing-card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_img">
        <div class="card-body">
            <p class="card-text">
                <%=listing.description%>        <br>
                &#8377; <%= listing.price.toLocaleString("en-IN")%>   <br>
                <%=listing.location%>       <br>
                <%=listing.country%>
            </p>
        </div>
        </div>
        <br>

        <div class="btns">
            <a href="/Listings/<%= listing._id%>/edit" class="btn btn-dark col-1 offset-2 ">Edit</a> <br><br>
            <form method="POST" action="/Listings/<%= listing._id%>?_method=DELETE">  <!--Method-Override is used here -->
                <button class="btn btn-dark offset-2">Delete</button>
            </form>
        </div>

        <div class="row-8 offset-2 mb-3">
            <hr>
            <h3>Leave a Review</h3>
            <form action="/Listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label" >Rating:</label>
                    <input type="number" min="0" max="5" id="rating" name="review[rating]" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Pls write a comment.
                    </div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>

            <hr>
            <p><b>All Reviews</b></p>
            <div class="row">
            <% for(review of listing.review) { %>
                <div class="card col-6 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Root</h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="card-text"><%= review.rating %></p>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
</div>

